<div class="homeAbout">
    <div class="container">
        <div class="homeAbout--cta">
            <a href="#" class="homeAbout--button">
                cennik
                <svg id="next" xmlns="http://www.w3.org/2000/svg" width="14.646" height="10.983" viewBox="0 0 14.646 10.983">
                    <g id="Group_2" data-name="Group 2">
                      <path id="Path_2" data-name="Path 2" d="M8.685,64.034l-.568.643,5,4.419H0v.858H13.116l-5,4.419.568.643,5.961-5.269V69.3Z" transform="translate(0 -64.034)" fill="#154575"/>
                    </g>
                </svg>
            </a>
            <a href="#" class="homeAbout--button">
                katalog
                <svg id="next" xmlns="http://www.w3.org/2000/svg" width="14.646" height="10.983" viewBox="0 0 14.646 10.983">
                    <g id="Group_2" data-name="Group 2">
                      <path id="Path_2" data-name="Path 2" d="M8.685,64.034l-.568.643,5,4.419H0v.858H13.116l-5,4.419.568.643,5.961-5.269V69.3Z" transform="translate(0 -64.034)" fill="#154575"/>
                    </g>
                </svg>                  
            </a>
        </div>

        <div class="homeAbout--counters">
            <div class="homeAbout--counter">
                <span>Na rynku od</span>
                <h3>1978 roku</h3>
            </div>
            <div class="homeAbout--counter">
                <span>wielkość kadry</span>
                <h3>200 osób</h3>
            </div>
            <div class="homeAbout--counter">
                <span>Powierzchnia hal produkcyjnych</span>
                <h3>1450 m<sup>2</sup></h3>
            </div>
        </div>
        <div class="homeAbout--whyUs">
            <div class="homeAbout--bigText">
                <h1 class="bgText--blue">Tradycja</h1>
                <h1 class="bgText--darkBlue">kompetencja</h1>
                <h1 class="bgText--blue">jakość</h1>
            </div>
            <div class="homeAbout--products">
                <img src="../../_dev/img/produkty-kalendarz.jpg" alt="jotkel_produkty">
            </div>
        </div>
        <div class="homeAbout--cols">
            <div class="homeAbout--col">
                <h2 class="textBlue">JOTKEL specjalizuje się</h2>
                <p>w wyposażaniu warsztatów, zakładów produkcyjnych, magazynów oraz pomieszczeń socjalnych. Firma działa od 1978 roku i produkuje meble warsztatowe, inne wyroby ze stali węglowych, nierdzewnych i aluminium oraz ręczne wózki transportowe.</p>
                <p>Na bazie wieloletnich doświadczeń powstają nasze sztandarowe produkty:</p>
                <p>metalowe meble warsztatowe - stoły warsztatowe, wózki warsztatowe, szafki warsztatowe, szafy ubraniowe</p>
            </div>
            <div class="homeAbout--col">
                <img src="../../_dev/img/about-img.jpg" alt="jotkel specjalizuje się">
            </div>
        </div>
        <div class="homeAbout--cols">
            <div class="homeAbout--col">
                <img src="../../_dev/img/about-offer.jpg" alt="jotkel specjalizuje się">
            </div>
            <div class="homeAbout--col order_-1">
                <h2 class="textBlue">Oferujemy</h2>
                <p>w wyposażaniu warsztatów, zakładów produkcyjnych, magazynów oraz pomieszczeń socjalnych. Firma działa od 1978 roku i produkuje meble warsztatowe, inne wyroby ze stali węglowych, nierdzewnych i aluminium oraz ręczne wózki transportowe.</p>
                <p>Na bazie wieloletnich doświadczeń powstają nasze sztandarowe produkty:</p>
                <p>metalowe meble warsztatowe - stoły warsztatowe, wózki warsztatowe, szafki warsztatowe, szafy ubraniowe</p>
                <a href="#" class="button--lightBlue">Zobacz ofertę</a>
            </div>
        </div>
    </div>
</div>