<footer class="footer">
    <div class="footerInner">
        <div class="container">
            <div class="footerMain">
                <div class="footerMain--col">
                    <h3>Firma</h3>
                    <p>JOTKEL Jan Krzywonos Sp. k.<br/>
                        Wiejska 43, 63-700 Krotoszyn<br/>
                        NIP: 621 183 46 56<br/>
                        KRS: 12423657658<br/>
                    </p>
                </div>
                <div class="footerMain--col">
                    <h3>Kontakt</h3>
                    <p>E: <a href="mailto:biuro@jotkel.com">biuro@jotkel.com</a></p>
                    <p>T: <a href="tel:48517706357">+ 48 517 706 357</a></p>
                </div>
                <div class="footerMain--col"></div>
                <div class="footerMain--col">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="">Produkty</a></li>
                        <li><a href="">Dealerzy</a></li>
                        <li><a href="">O nas</a></li>
                        <li><a href="">Praca</a></li>
                        <li><a href="">Nagrody</a></li>
                        <li><a href="">Podziękowania</a></li>
                        <li><a href="">Warunki handlowe</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerCopy">
                <div class="footerLogo">
                    <a href="/">
                        <img src="/_dev/img/logo-stopka.png" alt="jotlel_logo">
                    </a>
                </div>
                <div class="footerCopy--text">Prawa autorskie JOTKEL Krotoszyn zastrzeżone. Kopiowanie zdjęć i wykorzystywanie zabronione. Copyright © JOTKEL Krotoszyn 1996-2022</div>
                <div class="footerCopy--sctollUp">
                    <a href="#scrollUp">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31.045" height="31.045" viewBox="0 0 31.045 31.045">
                            <g id="arrow-right" transform="translate(0 31.045) rotate(-90)">
                              <path id="Path_19" data-name="Path 19" d="M15.522,0A15.522,15.522,0,1,0,31.045,15.522,15.522,15.522,0,0,0,15.522,0Zm0,29.492a13.97,13.97,0,1,1,13.97-13.97A13.97,13.97,0,0,1,15.522,29.492Zm0,0" fill="#fff"/>
                              <path id="Path_20" data-name="Path 20" d="M171.949,128.191a.776.776,0,1,0-1.022,1.169l5.541,4.848-5.542,4.849a.776.776,0,1,0,1.022,1.169l6.209-5.433a.776.776,0,0,0,0-1.169Zm0,0" transform="translate(-158.244 -118.686)" fill="#fff"/>
                            </g>
                        </svg>                          
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>