<div class="primaryLinks">
    <div class="container">
        <div class="primaryLinks--wrapper">
            <div class="primaryLink">
                <div class="primaryLink--inner">
                    <span>sprawdź</span>
                    <a href="#">Promocje
                        <img src="../_dev/img/next.svg" alt="Promocje">
                    </a>
                </div>
            </div>
            <div class="primaryLink">
                <div class="primaryLink--inner">
                    <span>produkty</span>
                    <a href="#">Dostępne od ręki
                        <img src="../_dev/img/next.svg" alt="produkty">
                    </a>
                </div>
            </div>
            <div class="primaryLink">
                <div class="primaryLink--inner">
                    <span>Super ceny</span>
                    <a href="#">Wyprzedaz
                        <img src="../_dev/img/next.svg" alt="wyprzedaz">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>