<div class="categorySidebar">
    <ul class="categoryList">
        <li class="categoryParent">
            <span>Stoły warsztatowe HSS03 HSS04</span>
            <ul class="categoryList--child">
                <li><a href="#">Stoły warsztatowe HSS03</a></li>
                <li><a href="#">Wyposażenie dodatkowe HSS03</a></li>
                <li><a href="#">Stoły warsztatowe HSS04</a></li>
                <li><a href="#">Wyposażenie dodatkowe HSS04</a></li>
            </ul>
        </li>
        <li class="categoryParent categoryActive">
            <span>Stoły warsztatowe HSS03 HSS04</span>
            <ul class="categoryList--child">
                <li><a href="#">Stoły warsztatowe HSS03</a></li>
                <li><a href="#">Wyposażenie dodatkowe HSS03</a></li>
                <li><a href="#">Stoły warsztatowe HSS04</a></li>
                <li><a href="#">Wyposażenie dodatkowe HSS04</a></li>
            </ul>
        </li>

    </ul>
</div>
